{% for comment in items %}
        <div class="media mb-4">
          <div class="media-body">
            <h5 class="mt-0">
              <a href="{% url 'posts:profile' comment.author.username %}">
                {{ comment.author.username }}
              </a>
              &nbsp;
              <a class="btn btn-light" href="{% url 'posts:delete_comment' post.id comment.id %}">
                <b>Удалить комментарий</b>
              </a>
            </p>
            </h5>
              <p>
              {{ comment.text }}
              </p>
            </div>
          </div>
      {% endfor %} 